@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap');*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
 appearance: none;
 -webkit-appearance:none;
}
html, body {
height: 100%;
font-family: 'Open Sans', sans-serif;
--prime-color:#00ED64;
--Dark-green:#001E2B;
--Deep-green:#116149;
color: var(--Dark-green);
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
input[type='date'], input[type='time'] {
    appearance: none;
    -webkit-appearance: none;
    height: 40px;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 700px){
    body{
       width: 600px;
       margin: 0 auto;
    }
    }